<section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-center">Edit staff</h2>
                    <form action="/edit-staff" method="POST">
                        <label for="">Name</label>
                        <input type="text" name="Name" class="form-control" value="{{get.Name}}">
                        <label for="">Email</label>
                        <input type="text" name="Email" class="form-control" value="{{get.Email}}">
                        <label for="">Position</label>
                        <input type="text" name="Position" class="form-control" value="{{get.Position}}">
                        <label for="">Ph.no</label>
                        <input type="tel" name="Phone" class="form-control" value="{{get.Phone}}">
                        <button type="submit" class="btn btn-success mt-4">submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>