  <section>
       <div class="container mt-5 ">
           <div class="ml-auto mt-4">
            <a href="/add-staff" class="btn btn-success ml-auto">Add Staff</a>
        </div>
           <div class="row">
               <div class="col-md">
                    <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Position</th>
                    <th scope="col">Ph.no</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>
                        <a href="/edit-staff" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                    </td>
                   
                </tr>
            </tbody>
        </table>
               </div>
           </div>
       </div>
    </section>
